<!DOCTYPE html>
<html>
    <head>
        <title>
         Contact
        </title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Coolest ninja on earth.</h1>
        <p>Hire ninjas to build powerfull sites.</p>
    </body>
</html> 
