<!DOCTYPE html>
<html>
    <head>
        <title>
            Node js Server
        </title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>The coolest website on planet.</h1>
        <p>Aight don't move.</p>
    </body>
</html>
