<!DOCTYPE html>
<html>
    <head>
        <title>
           Pricing
        </title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>We ain't charge.</h1>
        <p>Ninjas stay cool.</p>
        <p>You contacted for <%= data.apptype%> application with expected to be made under <%= data.price%>.</p>
        <p>You expect it to be made in <%= data.lang%>. We will contact our developer about it.</p>
        </body>
</html>
