<!DOCTYPE html>
<html>
    <head>
        <title>
            Node js Server
        </title>
        <style>
            body{
                background-color: beige;
            }
            h1, p{
                letter-spacing: 2px;
                font-size: 50px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>The coolest guy on planet is <%= user %> with id: <%= id %>.</h1>
        <p>Aight don't move.</p>
        
                <% data.forEach( eachObj => {

               %>
               <ol>
                </ol>
                 <%   
                });%>
        
    </body>
</html>
